/* App styles */
.image-thumb {
	margin: 10px;
	max-width: 70px;
	max-height: 70px;
}

/* Jquery Mobile styles */

.ui-mobile .ui-content { margin: 30px; }
.ui-mobile .ui-content .ui-listview-inset { margin: 0 0 1em 0; }

/* docs site layout */

@media all and (min-width: 650px){
	
	.content-secondary {
		float: left;
		width: 45%;
	}
	.content-primary {
		width: 45%;
		float: right;
	}
	
}
@media all and (min-width: 750px){
	.content-secondary {
		width: 34%;
	}
	.content-primary {
		width: 56%;
		padding-right: 1%;
	}	
	.type-interior .ui-content {
		background-position: 34%;
	}
}

@media all and (min-width: 1200px){
	.content-secondary {
		width: 30%;
		padding-right:6%;
		margin: 0 0 20px 5%;
	}
	.type-interior .content-secondary {
		margin: 0;
		padding: 0;
	}
	.content-primary {
		width: 50%;
		margin-right: 5%;
		padding-right: 3%;
	}
	.type-interior .content-primary {
		width: 60%;
	}
}